.element__delete-button{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 18px;
  border: none;
  background: transparent url(../../../images/Trash.svg) no-repeat;
  cursor: pointer;
}

.element__delete-button:hover {
  opacity: 0.6;
  transition: 0.5s all;
}