.profile__button-edit {
  height: 24px;
  width: 24px;
  border: 2px solid #ffffff;
  background: transparent url(../../../images/edit.svg) 50%/10px no-repeat;
  margin-left: 25px;
  padding: 0;
  align-self: center;
  cursor: pointer;
  background-size: 10px; 
  /*flex-grow: 1;*/
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media (max-width: 917px) {
  .profile__button-edit {
    height: 18px;
    width: 18px;
    border: 1px solid #ffffff;
    margin-left: 10px;
    background-size: 7.5px; 
  }
}
