.profile__button-add{
    height: 50px;
    width: 150px;
    border: 1px solid #FFFFFF;
    background: transparent url(../../images/plus.svg) 50%/22px no-repeat;
    border-radius: 2px;
    padding: 0;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;

  }

  .profile__button-add:hover{
    opacity: 0.6;
  }
  

  @media (max-width: 917px) {
    .profile__button-add{
      margin: 0;
      width: 581px;
    }
  }
  
  @media (max-width: 618px) {
    .profile__button-add{
   
      width: 282px;
    }
  }
  
 