.popup__btn-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent url(../../../images/Close-Icon.svg) 50%/32px no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.popup__btn-close:hover {
  opacity: 0.6;
  transition: 0.5s all;
}


@media screen and (max-width: 555px) {
  .popup__btn-close {
    position: absolute;
    top: -36px;
    right: 0px;
    background: transparent url(../../../images/Close-Icon.svg) 50%/20px no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
}