.profile__info {
  margin: 0;
  padding: 0;
  display: block;
}

@media (min-width: 917px) {
  .profile__info {
    height: 73px;
  }
}

@media (max-width: 917px) {
  .profile__info {
    margin: 26px auto 36px;
    justify-content: center;
  }
}

